*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.pin-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.no-pins {
    text-align: center;
    font-size: 1.5em;
}